.card {
  width: 99px;
  height: 151px;
}

#game-container {
  display: flex;
  flex-direction: row;
}

#deck-column {
  display: flex;
  flex-direction: column;
}

#piles {
  display: flex;
  flex-direction: row;
}

.pile {
  display: flex;
  flex-direction: column;
}

.pile .card:not(:first-child) {
  margin-top: -110px;
}

.pile2 {
  display: flex;
  flex-direction: column;
  width: 99px;
  margin-top: -41px;
}

.pile2 div {
  height: 99px;
  position: relative;
  top: 41px;
}

.pile2 .card {
  position: absolute;
  top: 0px;
}
